.modal {
  background: #242424;
  border: solid 3px #fff;
  border-radius: 1rem;
  display: none;
  height: 0;
  left: 50%;
  max-width: 700px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: height 0s 0.15s, opacity 0.15s;
  width: 50dvw;
}
.modal.active {
  display: block;
  height: auto;
  opacity: 1;
}

.backdrop--modal {
  background-color: rgba(0, 0, 255, 0);
}

.backdrop--modal.active {
  background-color: rgba(0, 0, 255, 0.4);
}

@media (prefers-color-scheme: light) {
  .modal {
    background: #ffffff;
    border: solid 3px #222;
  }
}
